/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}


/* end reset browser styles */

@font-face {
    font-family: 'Conv_Proxima Nova Regular';
    src: url('fonts/Proxima Nova Regular.eot');
    src: local('☺'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('fonts/Proxima Nova Regular.ttf') format('truetype'), url('fonts/Proxima Nova Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Proxima Nova Extrabold';
    src: url('fonts/Proxima Nova Extrabold.eot');
    src: local('☺'), url('../fonts/Proxima Nova Extrabold.woff') format('woff'), url('fonts/Proxima Nova Extrabold.ttf') format('truetype'), url('fonts/Proxima Nova Extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main_page {
    background-color: #ff451a;
}

.wrapper {
    max-width: 1130px;
    margin: 0 auto;
}

.logo {
    padding-top: 50px;
}

header {
    margin: 0 110px 0 0;
}

.nav_bar {
    display: inline-block;
    list-style: none;
    float: right;
    margin: -70px -135px;
}

.nav_bar ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 90px;
}

.nav_bar ul a {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    transition: all .3s;
}

.nav_bar ul a:hover {
    color: black;
    cursor: pointer;
}

.nav_bar ul li {
    list-style-type: none;
}

.line_0 {
    margin: 6px 0 0 -45px;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
}

.line_1 {
    margin: 6px 0 0 -45px;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
}

.line_2 {
    margin: 6px 0 0 -45px;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
}

.line_3 {
    margin: 6px 0 0 -45px;
    position: absolute;
    width: 33px;
    height: 4px;
    background-color: black;
}

.content_block {
    margin: 20px 0 0 -120px;
    padding: 50px 0 170px 50px;
    height: 580px;
}

.tablet {
    display: block;
    position: absolute;
    margin: 150px 0 0 809px;
}

.main_block {
    display: block;
    position: absolute;
    z-index: 3 !important;
    margin: 150px 140px;
    width: 770px;
    height: 425px;
    background-color: white;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.main_block h1 {
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c1d23;
    padding: 55px 55px;
}

.line_4 {
    margin: -310px 0 0 202px;
    position: absolute;
    width: 57px;
    height: 4px;
    background-color: #309afb;
}

.main_block p {
    margin: -45px 35px;
    color: #7a7a7a;
    font-family: 'Conv_Proxima Nova Regular';
    padding: 25px 25px;
    font-size: 19px;
}

.man {
    display: block;
    position: absolute;
    margin: 50px 0px 0px 655px;
    z-index: 4;
}

.slide_down_btn {
    display: block;
    margin: -75px 0 0 480px;
    cursor: pointer;
    padding: 0 0 75px 0;
}

.switcher {
    display: block;
    margin: -195px 0 0 -125px;
    padding: 0 0 50px 0;
}

.dot_0 {
    margin: 10px 1250px;
    background-color: #0066ff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot_1 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot_2 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot_3 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot_4 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.news_page {
    background-color: #ededed;
}

.news_page .nav_bar ul a {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    transition: all .3s;
    color: black;
}

.news_page .nav_bar ul a:hover {
    color: #ff451a;
    cursor: pointer;
}

.news_h2 {
    width: 200px;
    margin: 200px 0 0 -220px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
    /*
    vertical-align: top;
    
    
    
    */
}

.news_wrap {
    margin: 69px 0 0 161px;
    /*   width: 960px;*/
}

.news_item {
    display: inline-block;
    border-left: 1px solid #c6c6c6;
    margin: 40px 0 0 -25px;
    width: 340px;
}

.news_image {
    display: block;
    background-color: grey;
    width: 230px;
    height: 230px;
    margin: 0 45px;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.news_text {
    font-family: 'Conv_Proxima Nova Regular';
    color: black;
    font-size: 12px;
    margin: 26px 26px;
    line-height: 1.5;
}

.news_title {
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    margin: -10px 26px;
}

.books {
    background-color: #ededed;
}

.books_nav {
    padding: 70px 0;
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
}

.books_nav a {
    width: 200px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
}

.books_nav a:active {
    color: #ff451a;
}

.books .nav_bar ul a {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    transition: all .3s;
    color: black;
}

.books .nav_bar ul a:hover {
    color: #ff451a;
    cursor: pointer;
}

.books_h2 {
    position: absolute;
    width: 416px;
    margin: 210px 0 0 -165px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.books_wrap {
    margin: 70px 0 0 130px;
    width: 1078px;
}

.books_item {
    display: inline-block;
    border-left: 1px solid #c6c6c6;
    margin: 40px 0px;
    width: 350px;
}

.books_image {
    display: block;
    background-image: url(../img/book_3.png);
    width: 230px;
    height: 328px;
    margin: 0 45px;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.books_text {
    font-family: 'Conv_Proxima Nova Regular';
    color: black;
    font-size: 12px;
    margin: 26px 26px;
    line-height: 1.5;
}

.books_title {
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    margin: -10px 26px;
}

.recommend_wrap {
    margin: 50px 0 0 -180px;
    padding-left: 206px;
}

.recommendations {
    background-color: #ededed;
}

.recommendations .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.recommendations .nav_bar ul a:hover {
    color: #ff451a;
}

.recommendations_h2 {
    width: 200px;
    margin: 265px -90px 0 0px;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: 900;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: right;
    color: #ff451a;
}

.recommend_item {
    outline: none;
    vertical-align: top;
    position: relative;
    margin: 105px -50px 0 118px;
    display: inline-block;
    width: 268px;
    height: 381px;
    background-color: white;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.recommend_image {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-image: url(../img/recommend_image1.png);
    margin: 60px 55px;
}

.recommend_line {
    margin: -115px 40px;
    width: 57px;
    height: 4px;
    background-color: #0066ff;
}

.recommend_name {
    margin: 140px 0 0 35px;
    color: #666666;
    font-family: 'Conv_Proxima Nova Regular';
}

.recommend_text {
    font-family: 'Conv_Proxima Nova Extrabold';
    width: 150px;
    margin: 10px 35px;
    padding: 0 0 50px 0;
}

.recommend_wrap .slick-list {
    padding-bottom: 15px;
}

.recommend_wrap.slick-initialized.slick-slider > img:nth-child(3) {
    margin: -308px 2px 215px 996px;
    cursor: pointer;
}

.recommend_wrap.slick-initialized.slick-slider > img:nth-child(1) {
    cursor: pointer;
    margin: 281px 18px 0 -64px;
    position: absolute;
}

.recommendations .slide_down_btn_2 {
    margin: 70px 0 0 540px;
    cursor: pointer;
    padding-bottom: 50px;
}

.buy {
    background-color: #ededed;
}

.buy .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.buy .nav_bar ul a:hover {
    color: #ff451a;
}

.buy_h2 {
    position: absolute;
    width: 416px;
    margin: 225px 0 0 -165px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.buy_h3 {
    width: 300px;
    margin: 85px 0 0 100px;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: 900;
    float: left;
    color: #ff451a;
}

#city_select {
    width: 153px;
    margin: 100px 13px 1px 844px;
    position: absolute;
    display: block;
    padding: 13px 163px 13px 0px;
    background-color: #ededed;
    border-bottom: 1px solid #878787;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    list-style-type: none;
    z-index: 2;
}

#city_select > li > ul {
    display: none;
    list-style-type: none;
}

#city_select > li {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    cursor: pointer;
    padding-left: 15px;
}

#city_select > li > ul > li {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    padding-top: 15px;
    margin-left: -20px;
}

.bottom_arrow {
    background-image: url(../img/bottom_arrow.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 3;
    position: absolute;
    margin: 117px 0px 0 1132px;
    cursor: pointer;
}

.map {
    display: block;
    padding: 180px 0 0 100px;
}

.buy_address_wrap {
    width: 1000px;
    margin: 70px 0 0 70px;
}

.address_item {
    display: inline-block;
    margin: 25px 0 0 115px;
}

.map_marker {
    position: absolute;
    margin: -5px 0px 0 -40px;
}

.address_name {
    font-family: 'Conv_Proxima Nova Extrabold';
    padding-bottom: 14px;
}

.address {
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 12px;
}

.address_mail a {
    color: #666666;
    text-decoration: none;
}

.buy_h3_1 {
    width: 300px;
    margin: 100px 0 0 97px;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: 900;
    float: left;
    color: #ff451a;
}

.buy_slider {
    margin: 150px 0 0 100px;
    padding: 0 0 50px 0;
    width: 871px;
}

.buy_slider .slick-initialized .slick-slide {
    height: 200px;
}

.buy_slider.slick-initialized.slick-slider > img:nth-child(1) {
    position: absolute;
    margin: 155px 0 0 -45px;
    cursor: pointer;
}

.buy_slider.slick-initialized.slick-slider > img:nth-child(3) {
    margin: -68px 0px 62px 888px;
    cursor: pointer;
}

.buy_image {
    display: inline-block;
    width: 117px;
    height: 117px;
    background-image: url(../img/buy_image.png);
    background-repeat: no-repeat;
    position: relative;
    margin: 105px -50px 0 118px;
}

.parents {
    background-color: #ededed;
}

.parents .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.parents .nav_bar ul a:hover {
    color: #ff451a;
}

.parents_h2 {
    position: absolute;
    width: 416px;
    margin: 215px 0 0 -165px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.parents_wrap {
    padding: 0 0 80px 0;
}

.parents_p {
    padding: 3px 0 5px 0;
    padding-left: 50px;
    width: 710px;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    border-left: 5px solid #ff451a;
    margin: 95px 52px 13px 189px;
}

.parents_item {
    padding: 60px 0 70px 80px;
    margin: 60px 0 0 180px;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.parents_item h2 {
    position: absolute;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 120px;
    color: #ff451a;
    font-weight: bold;
    margin: 0 0 0 -20px;
}

.parents_item p {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    font-size: 16px;
    margin: 20px 70px 0 182px;
    line-height: 22px;
}

.school {
    background-color: #ededed;
}

.school .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.school .nav_bar ul a:hover {
    color: #ff451a;
}

.school_h2 {
    position: absolute;
    width: 416px;
    margin: 130px 0 0 -165px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.school_wrap {
    padding: 0 0 80px 0;
}

.school_p {
    padding: 3px 0 5px 0;
    padding-left: 50px;
    width: 710px;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    border-left: 5px solid #ff451a;
    margin: 95px 52px 13px 189px;
}

.school_item {
    padding: 60px 0 70px 80px;
    margin: 60px 0 0 180px;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.school_item h2 {
    position: absolute;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 120px;
    color: #ff451a;
    font-weight: bold;
    margin: 0 0 0 -20px;
}

.school_item p {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    font-size: 16px;
    margin: 20px 70px 0 182px;
    line-height: 22px;
}

.partners {
    background-color: #ededed;
}

.partners .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.partners .nav_bar ul a:hover {
    color: #ff451a;
}

.partners_h2 {
    position: absolute;
    width: 416px;
    margin: 225px 0 0 -105px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.partners_wrap {
    padding: 0 0 80px 0;
}

.partners_p {
    padding: 3px 0 5px 0;
    padding-left: 50px;
    width: 710px;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    border-left: 5px solid #ff451a;
    margin: 95px 52px 13px 189px;
}

.partners_item {
    padding: 60px 0 70px 80px;
    margin: 60px 0 0 180px;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.partners_item h2 {
    position: absolute;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 120px;
    color: #ff451a;
    font-weight: bold;
    margin: 0 0 0 -20px;
}

.partners_item p {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    font-size: 16px;
    margin: 20px 70px 0 182px;
    line-height: 22px;
}

.for_advrts {
    background-color: #ededed;
}

.for_advrts .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.for_advrts .nav_bar ul a:hover {
    color: #ff451a;
}

.for_advrts_h2 {
    position: absolute;
    width: 416px;
    margin: 435px 0 0 -165px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.for_advrts_wrap {
    padding: 0 0 80px 0;
}

.for_advrts_p {
    padding: 3px 0 5px 0;
    padding-left: 50px;
    width: 710px;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    border-left: 5px solid #ff451a;
    margin: 95px 52px 13px 189px;
}

.for_advrts_item {
    padding: 60px 0 70px 80px;
    margin: 60px 0 0 180px;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.for_advrts_item h2 {
    position: absolute;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 120px;
    color: #ff451a;
    font-weight: bold;
    margin: 0 0 0 -20px;
}

.for_advrts_item p {
    font-family: 'Conv_Proxima Nova Regular';
    color: #666666;
    font-size: 16px;
    margin: 20px 70px 0 182px;
    line-height: 22px;
}

.contacts {
    background-color: #ededed;
}

.contacts .nav_bar ul a {
    color: black;
    transition: all .3s;
}

.contacts .nav_bar ul a:hover {
    color: #ff451a;
}

.contacts_h2 {
    position: absolute;
    width: 416px;
    margin: 205px 0 0 -170px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.contacts_wrap {
    padding: 0 0 80px 0;
    margin: -40px 0 0 0;
}

.contact_1 {
    border-left: 2px solid #d5d5d5;
    margin: 160px 0 0 140px;
    /* position: absolute; */
    padding: 5px 0 5px 25px;
}

.contact_2 {
    border-left: 2px solid #d5d5d5;
    margin: -100px 0 0 710px;
    padding: 5px 0 5px 25px;
}

.contact_1 h3 {
    font-size: 16px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #717171;
    padding: 0 0 25px 0;
}

.contact_1 p {
    font-size: 18px;
    font-family: 'Conv_Proxima Nova Regular';
    line-height: 23px;
}

.contact_2 h3 {
    font-size: 16px;
    font-family: 'Conv_Proxima Nova Regular';
    color: #717171;
    padding: 0 0 25px 0;
}

.contact_2 p {
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    font-size: 36px;
}

.form {
    background-color: #ff451a;
    height: 490px;
    width: 985px;
    margin: 55px 0 0 140px;
    outline: none;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

input {
    outline: none;
}

::-webkit-input-placeholder {
    color: #797979;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}

::-moz-placeholder {
    color: #797979;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #797979;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #797979;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}

.form form {
    padding-top: 20px;
}

.input_name,
.input_tel,
.input_city,
.input_mail {
    width: 380px;
    display: block;
    padding: 12px 7px 12px 20px;
    border: none;
    margin: 30px 0 0 45px;
    box-shadow: 0px 0px 5px -1px #000000 inset;
    letter-spacing: 1px;
}

.input_message {
    font-family: 'Conv_Proxima Nova Regular';
    width: 405px;
    display: block;
    padding: 12px 7px 205px 20px;
    border: none;
    margin: -247px 45px 0 56px;
    box-shadow: 0px 0px 5px -1px #000000 inset;
    letter-spacing: 1px;
    float: right;
    overflow: hidden;
    max-height: 200px;
    resize: none;
    outline: none;
}

.input_btn {
    outline: none;
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #1b1c21;
    padding: 19px 60px 19px 60px;
    margin: 70px 0 0 350px;
    border: none;
    cursor: pointer;
    letter-spacing: 8px;
}

.footer {
    background-color: #ededed;
    border-top: 1px solid #d5d5d5;
}

.nav_footer {
    margin: 0 0 0 -140px;
    display: inline-block;
    list-style: none;
    padding: 27px 0 40px 0;
}

.nav_footer ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 90px;
    margin: 0 0 0 75px;
}

.nav_footer ul a {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    color: #1b1c21;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    transition: all .3s;
}

.nav_footer ul a:hover {
    color: #ff451a;
    cursor: pointer;
}

.nav_footer ul li {
    list-style-type: none;
}


/* book_landing  singke */

.single_page .nav_bar ul a {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    transition: all .3s;
    color: black;
}

.single_page .nav_bar ul a:hover {
    color: #ff451a;
    cursor: pointer;
}
.book_page {
    padding-bottom: 50px;
}
.book_page_content {
    margin: -25px 0 0 115px;
    border-left: 1px solid #c6c6c6;
    
}

.book_h2 {
     width: 300px;
    margin: 74px 0 0 -225px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.book_img {
    margin: 100px 0 0 35px;
    display: block;
    background-image: url(../img/single_page_book_img.png);
    width: 500px;
    height: 700px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.single_book_info {
    float: right;
}

.single_book_h2 {
    width: 268px;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    color: #ff451a;
    margin: -700px 0 0 100px;
}

.app_link_apple {
    width: 15px;
    margin: -55px 0 0 440px;
}

.app_link_google {
    width: 15px;
    margin: 0 0 0 440px;
}

.info_book {
    color: #878787;
    font-size: 14px;
    font-family: 'Conv_Proxima Nova Regular';
    margin: -10px 0 0 100px;
    line-height: 20px;
}

.book_summary {
    font-size: 14px;
    font-family: 'Conv_Proxima Nova Regular';
    width: 432px;
    line-height: 20px;
    margin: 35px 0 0 100px;
}

.author_actor {
    margin: -65px 0 0 100px;
    font-size: 16px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
}

.author_actor p:nth-child(1),
.author_actor p:nth-child(2) {
    border-bottom: 3px solid #0066ff;
    padding-bottom: 5px;
    width: 60px;
}

.author_actor p:nth-child(1) {
    margin: 90px 0 0 5px;
}

.author_actor p:nth-child(2) {
    margin: -27px 0 0 229px;
}

.authors {
    font-size: 14px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
    width: 180px;
    line-height: 19px;
    margin: 15px 0 0 100px;
}

.actors {
    font-size: 14px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
    width: 180px;
    line-height: 19px;
    margin: -36px 0 0 330px;
}

.link_networks {
    margin: 25px 0 0 100px;
}

.link_networks p {
    font-size: 16px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
    padding-bottom: 10px;
}

.link_networks img {
    opacity: .5;
    margin-right: 10px;
}

.link_youtube {
    margin: 50px 0 0 95px;
}

.link_youtube.slick-initialized.slick-slider > img:nth-child(3) {
        margin: -28px 0 0 899px;
    cursor: pointer;
    position: absolute;
}
.link_youtube.slick-initialized.slick-slider > img:nth-child(1) {
    cursor: pointer;
    margin: 188px 0 0 -35px;
    position: absolute;
}

.youtube_item.slick-slide.slick-current.slick-active {
    width: 300px;
}

.youtube_item {
    outline: none;
    display: inline-block;
}

.link_youtube h3 {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Conv_Proxima Nova Regular';
}

.link_youtube p {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
}



.starring {
    background-color: #1c1d23;
    padding-bottom: 60px;
}

.actor_main {
    margin: 0 0 0 -110px;
}

.photo_main img {
    margin: 65px 0 0 120px;
    width: 240px;
}

.actor_main h3 {
    margin: -350px 0 0 390px;
    font-size: 16px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
}

.actor_main h2 {
    color: white;
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 30px;
    margin: 16px 0 0 384px;
    width: 15px;
}

.line_actor {
    background-color: #0066ff;
    width: 60px;
    height: 3px;
    margin: 20px 0 0 385px;
}

.actor_main p {
    margin: 30px 0 0 385px;
    width: 176px;
    font-size: 14px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
    line-height: 17px;
}

.starring_2 {
    margin: 0 0 0 -130px;
}

.starring_h2 {
    font-family: 'Conv_Proxima Nova Extrabold';
    color: #ff451a;
    font-size: 60px;
    font-weight: bolder;
    margin: -362px 0 0 806px;
    width: 15px;
    line-height: 60px;
}

.actor_1 {
    width: 197px;
    margin: 10px 0 0 810px;
    background-color: white;
    height: 460px;
}

.actor_1 h3 {
    margin: 25px 0 0 25px;
    font-size: 16px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
}

.actor_1 p {
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0 0 25px;
    width: 10px;
}

.actor_2 {
    margin: -461px 0 0 1035px;
    background-color: white;
    height: 460px;
    width: 198px;
}

.actor_2 h3 {
    margin: 25px 0 0 25px;
    font-size: 16px;
    color: #878787;
    font-family: 'Conv_Proxima Nova Regular';
}

.actor_2 p {
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0 0 25px;
    width: 10px;
}

.app_page {
    padding-bottom: 80px; 
        background-color: #ff451a;
}

.app_item {
    display: inline-block;
}

.install_app {
    margin: 90px 0 0 165px;
    
}

.install_app_p {
   margin: 20px 0 0 -4px;
    color: white;
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    width: 144px;
    text-align: center;
}

.install_app .app_link_apple {
    margin: 21px 0 0 -54px;
}

.install_app .app_link_google {
  margin: -46px 0 0 81px;
}


.print_app_img {
    position: absolute;
    margin: -324px 0 65px 104px ;
}
.print_app_p {
    position: absolute;
    margin: -124px 0 34px 131px;
    color: white;
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    width: 128px;
    text-align: center;
}

.download_img {
    margin: -44px 0 0 96px;
    position: absolute;
    background-color: black;
    width: 126px;
    height: 34px;
    border-radius: 5px;
    padding: 11px 36px 0 34px;
}



.download_img a {
    margin: 0 0 0 19px;
    text-decoration: none;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 20px;
    color: white;
    
}

.point_cam_p {
    position: absolute;
    text-align: center;
    width: 169px;
    font-family: 'Conv_Proxima Nova Regular';
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin: -129px 0  0 17px;
}

.point_cam_img {
    position: absolute;
    margin: -300px 0 0 -12px;
}
.point_cam {
    margin: 0 0 0 439px;
}   

.recommend_page {
    background-color: #0062fb;
    padding: 0 0 60px 0;
}

.recommend_page .recommend_wrap {
    margin: 0px 0 0 83px;
    padding: 0px 91px 0 0;
}
.single_map {
    padding-bottom: 60px;
}
.single_page .buy_h3 {
    margin: 85px 0 0 40px;
}

.single_page .map {
   margin: 0 0 0 -60px;
}

.single_page #city_select {
   margin: 80px 0 0 784px;
   background-color: white;
}

.single_page .bottom_arrow {
    margin: 98px 0px 0 1078px;
    
}

.single_map .buy_h3_1 {
    margin: 100px 0 0 40px;
}

.review_page {
    background-color: #ededed;
    padding-bottom: 70px;
}

.review_page_h2 {
    font-family: 'Conv_Proxima Nova Extrabold';
    font-size: 60px;
    font-weight: 900;
    padding: 100px 0 0 0;
}

.review_item {
    vertical-align: top;
    display: inline-block;
    background-color: white;
    height: 682px;
    margin: 20px 30px 0 0;
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.review_line {
    margin: 15px 0 10px 15px;
    background-color: #2f9bfc;
    width: 60px;
    height: 3px;
}

.review_h2 {
    margin: 0 0 0 16px;
    width: 200px;
    color: #8f8f8f;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}

.review_h3 {
    margin: 0 0 0 16px;
    color: #1c1d23;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
}

.review_p {
    color: #1c1d23;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
    width: 50px;
    text-overflow: clip;
    line-height: 20px;
    width: 208px;
    margin: 15px 0 0 16px;
}


.book_image {
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 6px 15px -4px rgba(0, 0, 0, 1);
}

.book_choice_page {
    background-color: #ededed;
    padding-bottom: 70px;
}
.book_choice_item {
    margin: 40px 0 0 0px;
    display: inline-block;
        padding-right: 53px;

}

.book_text {
    margin: 30px 0 0 11px;
    color: #8f8f8f;
    font-family: 'Conv_Proxima Nova Regular';
    font-size: 14px;
    width: 220px;

}

.book_title {
    margin: 14px 0 0 14px;
    color:  #ff451a;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: 900;
    font-size: 20px;
    width: 162px;
}

