/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a{
    text-decoration: none;
}
.clear{
    clear: both;
}

/* end reset browser styles */



@font-face {
    font-family: 'Conv_Proxima Nova Regular';
    src: url('fonts/Proxima Nova Regular.eot');
    src: local('☺'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('fonts/Proxima Nova Regular.ttf') format('truetype'), url('fonts/Proxima Nova Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Proxima Nova Extrabold';
    src: url('fonts/Proxima Nova Extrabold.eot');
    src: local('☺'), url('../fonts/Proxima Nova Extrabold.woff') format('woff'), url('fonts/Proxima Nova Extrabold.ttf') format('truetype'), url('fonts/Proxima Nova Extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



.main_page {
    background-color: #ff451a;
}
.wrapper {
    width: 1120px;
}

.logo {
    margin-left: 75px;
    padding-top: 50px;
}

 .nav_bar {
    display: inline-block;
    list-style: none;
    float: right;
    margin: -70px -135px;
    
}

.nav_bar ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 90px;

} 

.nav_bar ul li {
    font-family: 'Conv_Proxima Nova Regular';
    display: block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    transition: all .3s;
}

.nav_bar ul li:hover {
    color: black;
    cursor: pointer;
}

.line_0 {
    left: 460px;
    top: 71px;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
}

.line_1 {
    left: 665px;
    top: 71px;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
}

.line_2 {
    left: 885px;
    top: 71px;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
}

.line_3 {
    left: 1130px;
    top: 71px;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
}
.content_block {
    padding: 50px 50px;
    height: 580px;  
}
.main_block {
    margin: 150px 140px;
    width: 770px;
    height: 425px;
    background-color: white;
    box-shadow: 5px 10px 50px #60453f;
}

.main_block h1 {
     font-family: 'Conv_Proxima Nova Extrabold';
     font-size: 55px;
     font-weight: bold;
     text-transform: uppercase;
     color: #1c1d23;
     padding: 55px 55px; 
}

.line_4 {
    left: 253px;
    top: 599px;
    position: absolute;
    width: 57px;
    height: 4px;
    background-color: #309afb;
}

.main_block p {
    margin: -45px 35px;
    color: #7a7a7a;
    font-family: 'Conv_Proxima Nova Regular';
    padding: 25px 25px; 
    font-size: 19px;
}

  .content_block img.man {
    position: absolute;
    margin: -680px 660px;
    
}

.content_block img.tablet {
    position: absolute;
    margin: -567px 813px;
    z-index: -1;
}

.slide_down_btn {
    margin: 0 670px;
    cursor: pointer;
}

.switcher {
    margin: -100px 0;
    padding-bottom: 145px ;
}

.dot_0 {
    margin: 10px 1250px;
    background-color: #0066ff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot_1 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot_2 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot_3 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot_4 {
    margin: 10px 1250px;
    background-color: #cc3715;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.news_page {
    background-color: #ededed;
}

.news_page .nav_bar ul li  {
    color:  black;
}
.news_page .nav_bar ul li:hover {
    color: #ff451a;

}

.news_h {
    width: 200px;
    margin: 280px 0 0 0px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
    /*
    vertical-align: top;
    
    
    
    */
}

.news_wrap {
    margin: 80px 0 0 220px;
 /*   width: 960px;*/

}

.news_item {
    display: inline-block;
    border-left: 1px solid #c6c6c6;
    margin: 40px 0px;
    width: 350px;
}



.news_image {
    display: block;
    background-color: grey;
    width: 230px;
    height: 230px;
    margin: 0 45px;
    -webkit-box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
    -moz-box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
    box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
}


.news_text {
    font-family: 'Conv_Proxima Nova Regular';
    color: black;
    font-size: 12px;
    margin: 26px 26px;
    line-height: 1.5;
}

.news_title {
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    margin: -10px 26px;
}

.books  {
    background-color: #ededed; 
}

.books_nav {
    padding: 70px 0;
    
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
}

.books_nav a {
    width: 200px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
}

.books_nav a:active {
    color: #ff451a;
}


.books .nav_bar ul li  {
    color:  black;
}
.books .nav_bar ul li:hover {
    color: #ff451a;
}

.books_h {
    position: absolute;
    width: 416px;
    margin: 270px 0 0 -150px;
    font-weight: 800;
    font-size: 60px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    float: left;
}

.books_wrap {
    margin: 80px 0 0 212px;
   width: 1078px;

}

.books_item {
    display: inline-block;
    border-left: 1px solid #c6c6c6;
    margin: 40px 0px;
    width: 350px;
}



.books_image {
    display: block;
    background-image: url(../img/book_3.png);
    width: 230px;
    height: 328px;
    margin: 0 45px;
    -webkit-box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
    -moz-box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
    box-shadow: 4px 6px 30px -4px rgba(0,0,0,1);
}


.books_text {
    font-family: 'Conv_Proxima Nova Regular';
    color: black;
    font-size: 12px;
    margin: 26px 26px;
    line-height: 1.5;
}

.books_title {
    color: #ff451a;
    font-size: 24px;
    font-family: 'Conv_Proxima Nova Extrabold';
    font-weight: bold;
    margin: -10px 26px;
}

